<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>WatchList</title>
</head>

<body>
    <header class="hero-section">
        <div class="hero-text">
            <h1 class="hero-text__title">Find your film</h1>
            <a class="hero-text__link" href="watchlist.html">
                <h2>Visit Watchlist</h2>
            </a>
        </div>
    </header>

    <div class="search-form__container">
        <form class="search-form">
            <input class="search-form__input" type="text" placeholder="Search movie..." id="movieTitle">
            <button class="search-form__btn" type="button" id="searchBtn">Search</button>
        </form>
    </div>

    <main class="movie-list" id="movieList">
        <div class="movie-container">
            <img class="no-movie-img" src="../assets/img/movie-icon.png" alt="No movies found">
            <h2 class="movie-empty">Start exploring</h2>
        </div>
    </main>
    <script src="../main.js"></script>
</body>

</html>