body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --main-text-color: bisque;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* ============= HERO SECTION ============= */

.hero-section {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.516),
      rgba(0, 0, 0, 0.516)
    ),
    url(../img/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 30px;
  color: var(--main-text-color);
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.hero-text__link > h2,
.hero-text__title {
  margin: 12px 0px 0px;
}

.hero-text__link {
  margin: 0;
  text-decoration: none;
  color: var(--main-text-color);
  cursor: pointer;
  border-bottom: 3px solid var(--main-text-color);
  margin-bottom: 0px;
}

/* ============= FORM SECTION ============= */

.search-form__container {
  margin-top: -15px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__input,
.search-form__btn {
  border: 1px solid #d1d5db;
  font-size: 1.2em;
}
.search-form__input {
  padding: 7px 10px;
  width: 40%;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

.search-form__btn {
  padding: 7px 0px;
  width: 20%;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

/* ============= MAIN SECTION ============= */

.movie-list {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 10px;
}

.movie-list__container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.movie {
  display: flex;
  align-items: center;
  gap: 20px;
}

.movie-poster-img {
  width: 140px;
  height: 90%;
}

.movie-content {
  height: 180px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}

.rate-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}
.gold-color {
  color: gold;
}

.movie-info {
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: capitalize;
}

h3,
p {
  margin: 0;
}

/* ============= RESPONSIVE LAYOUT ============= */

@media (min-width: 600px) {
  .hero-section {
    height: 200px;
  }
  .hero-text {
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }
  .form-container {
    margin-top: -30px;
  }
}
